table {
    width: 100%;
}

#firstRow td {
    padding-left: 50px;
}

#result {
    border-collapse: collapse;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    /* margin-left: 730px; */
}

#result th {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ddd;
}

#result tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#result tr:nth-child(odd) {
    background-color: #ffffff;
}

#result td {
    padding: 8px;
    border: 1px solid #ddd;
}

#result tr:hover {
    background-color: #ddd;
}

#result tr:active {
    background-color: #e0e0e0;
}

img {
    margin-top: 30px;
    margin-left: 300px;
}

#formContainer {
    width: 100px;
    margin-left: 330px;
    position: absolute;
}

#firstRow table {
    margin-top: 130px;
    position: absolute;
}

#formContainer {
    /* background-color: #ffffff; */
    padding: 20px;
    text-align: center;
}

#formContainer form {
    max-width: 400px;
    margin: 0 auto;
}

#formContainer .form__label {
    display: block;
    margin-bottom: 10px;
    margin-left: -25px;
    width: 10px;
    font-weight: bold;
}

#formContainer .form__input {
    width: 100%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#formContainer .form__button {
    font-family: 'Playfair Display', serif;
    background-color: #ddd;
    color: #000000;
    padding: 7px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formContainer .form__button:hover {
    background-color: #d0d0d0;
}

#formContainer .form__button:active {
    background-color: #bbbbbb;
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
  
.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}
  
#header h2, #header h3 {
    position: absolute;
    margin-left: 40%;
    font-family: 'Playfair Display', serif;
}

#header h3 {
    margin-top: 60px;
    margin-left: 47%;
}

#alertContainer {
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    position: absolute;
    transform: translate(0,-50px);
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: white;
    color: #000;
    transition: transform 0.5s ease-in-out;
}

#alertContainer.active {
    transform: translate(0,0); 
    transition: transform 0.5s ease-in-out;
}

#formContainer .error {
    border: 1px solid red;
}

input {
    width: 100px;
}

#materials {
    max-width: 1000px;
}

#result {
    left: 800px;
}

input .error {
    border: 1px solid red;
}

#background-video {
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 100%;
    margin-top: -220px;
    height: 970px;
    left: 0;
    top: 0;
    visibility: hidden;
}

@media (max-width: 500px) {
    #firstRow {
        margin: 0 auto;
    }
    
    #formContainer {
        margin: 0;
    }
    
    img {
        margin-left: -15%;
    }
    
    #result {
        left: 0;
        margin-left: 40px;
        margin-top: 550px;
/*         margin-left: -70%; */
/*         margin-top: 440%; */
    }
}